.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .category {
    width: 30%; 
    text-align: center;
    background-color: #f0f0f0; 
    margin: 10px 0;
  }
  
  .project {
    width: 30%; 
    margin: 10px 0;
    border: 1px solid #ccc; 
  }
  